<div class="container mt-4">
    <!-- <table class="table bordered border">
        <tr>
            <th>S.No</th>
            <th>Customer Name</th>
            <th>Transfer Amount</th>
            <th>Transfer Currency</th>
            <th>Reference</th>
        </tr>
        <tr *ngFor="let transaction of transactions; let i=index">
            <td>{{i+1}}</td>
            <td>{{transaction.customerName}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.currency}}</td>
            <td>{{transaction.referenceNumber}}</td>
        </tr>
    </table> -->
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
          <ng-container matColumnDef="CustomerName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Customer Name</th>
            <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
          </ng-container>
        
         
          <ng-container matColumnDef="TransferAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transfer Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
        
         
          <ng-container matColumnDef="TransferCurrency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transfer Currency </th>
            <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
          </ng-container>
        
         
          <ng-container matColumnDef="Reference">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
            <td mat-cell *matCellDef="let element"> {{element.referenceNumber}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>